<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <center>
      <% provide(:title, "Log in") %>

      <h1>Hey! Tu es sur la page de Log In donc je suppose que tu sais quoi faire.....</h1>
      <br><br>

      <h2>Log in</h2>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>
          <br>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>

          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/26BREWCvD66KImhc4" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/majorkey-future-jay-z-dj-khaled-26BREWCvD66KImhc4">via GIPHY</a></p>
        </div>
      </div>
    </center>
  </body>
</html>
