<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <center>
      <% provide(:title, "Log in") %>

      <h1>Hey! Tu es sur la page de Log In donc je suppose que tu sais quoi faire.....</h1>
      <br><br>

      <h2>Log in</h2>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>

          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
      </div>
    </center>
  </body>
</html>
